* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.backBoxBG {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(135deg, #FC267D 0%, #FE5266 51%, #FF7854 100%);
}

#HomeContentBox_PC {
  position: fixed;
  left: 28%;
  right: 28%;
  top: 56px;
  bottom: 50px;
}

#HomeContentBox_M {
  position: fixed;
  left: 15px;
  right: 15px;
  top: 25px;
  bottom: 20px;
}

.LogoImgBox {
  background-size: cover;
  vertical-align: middle;
  height: 40px;
}

.downloadHint {
  float: right;
  margin: auto 20px;
  text-align: center;
}

.downloadHint span {
  font-size: 12px;
  font-family: PingFang-SC-Heavy, PingFang-SC;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 17px;
}

.downloadHint p {
  margin: 8px auto;
  width: 23px;
  height: 3px;
  background: #FFFFFF;
  border-radius: 2px;
}

.contentBox_PC {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 55px;
  bottom: 32px;
  background-color: #FFFFFF;
  border-radius: 18px;
  box-shadow: 0px 3px 20px 0px #E72229;
  background: url(../../../static/img/bgBackImg_PC.png) no-repeat;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.contentBox_M {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 55px;
  bottom: 70px;
  background-color: #FFFFFF;
  border-radius: 18px;
  box-shadow: 0px 3px 20px 0px #E72229;
  background: url(../../../static/img/bgBackImg_M.png) no-repeat;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.downloadAPP_PC {
  position: relative;
  top: 41%;
  left: 40px;
  width: 125px;
}

.downloadAPP_M {
  position: relative;
  display: block;
  top: 187px;
  left: 17px;
  width: 125px;
}

.hintBox {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  font-size: 9px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #FFFFFF;
}
